body{
    font-family: sans-serif;
}

h1{
    color: cadetblue;
}
code{
    font-family: monospace;
    color: red;
}

.second{
    color: green;
}


li{
    font-family: inherit;
}

li + li{
    background-color: black;
    color: white;
}
ol li{
    background-color: black;
    color: white;
}
